* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  width: 100%;
}
.main {
  height: 100%;
  width: 100%;
}
.page1 {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
}
.left {
  width: 40%;
  position: relative;
  height: 100%;
}
.lnav {
  width: 100%;
  padding: 20px 30px;
  display: flex;
  justify-content: space-between;
}
.lnavr {
  display: flex;
  align-items: center;
}
.lnavr a {
  text-decoration: none;
  margin-right: 20px;
  color: black;
}

.lnavr a:hover {
  transition: all ease 0.3;
  border-bottom: 2px solid black;
}
.lnavr i {
  color: royalblue;
}
.textcenter {
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
}
.textcenter h1 {
  font-size: 90px;
  font-weight: 900;
  text-transform: capitalize;
  animation: myAnimation 5s infinite alternate; /* Change 1s to adjust the duration */
}
@keyframes myAnimation {
  0% { font-size: 40px; }
  50% { font-size: 50px; font-weight: 400; }
  100% { font-size: 70px; text-transform: uppercase; }
}


.textcenter p {
  font-size: 12px;
  line-height: 20px;
  font-weight: 300;
  text-transform: capitalize;
  margin-bottom: 10px;
  margin-top: 20px;
  opacity: 1.5;
  text-align: justify;
}
.textcenter a {
  border-bottom: 2px solid black;
  font-size: 25px;
  color: black;
  text-decoration: none;
  font-weight: 700;
}

.right {
  width: 60%;
  height: 100%;
  background-color: aqua;
}
.right .rtop {
  width: 100%;
  height: 50%;
  display: flex;
  align-items: center;
}
.rtop .rtopleft {
  width: 50%;
  height: 100%;
  background-size: cover;
  background-position: center;
  background-image: url("https://images.unsplash.com/photo-1586788224331-947f68671cf1?q=80&w=1887&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
}
.rtop .rtopright {
  width: 50%;
  height: 100%;

  background-image: url("https://images.unsplash.com/photo-1552010099-5dc86fcfaa38?q=80&w=1964&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  background-size: cover;
  background-position: center;
}

.right .rbottom {
  width: 100%;
  height: 50%;

  background-image: url("https://images.unsplash.com/photo-1548504769-900b70ed122e?q=80&w=1780&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  background-size: cover;
  background-position: center;
}
@media (max-width: 600px) {
  .page1 {
    flex-direction: column;
  }
  .page1 .left {
    width: 100%;
  }
  .page1 .right {
    width: 100%;
  }
}
